.header{
    height: 280px;
    padding: 30px 40px;
    display: flex;
}
.site-slogan{
    width: 420px;
    margin-left: 50px;
    text-align: center;
    color: #3b2d23 ;
}
h2{
    font-size: 45px;
}