.nav-bar{
    display: flex;
    background-color: aliceblue;
}
.site-name{
    padding: 5px 30px;
    color: darkcyan;
}
.site-menu{
    padding: 10px 30px;
    margin-left: 100px;
}
a{
    text-decoration: none;
    color: blue;
    margin: 0px 10px;
}